<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chromotherapy App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <img src="https://th.bing.com/th/id/R.7e935370d5f0afb0a7bb33ede3a15385?rik=s8hH86oVtB8Z7g&pid=ImgRaw&r=0" alt="Logo" class="navbar-logo">
                <li><a href="{{ url_for('home') }}">HOME</a></li>
                <li><a href="{{ url_for('emotion_description') }}">COLOUR THERAPY</a></li>
                <li><a href="{{ url_for('contact') }}">CONTACT US</a></li>

                <!-- Add more links here if needed -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

 
    {% block footer %}
    <footer>
        <p>&copy; 2024 Dut Honourable Members App</p>
    </footer>
    {% endblock %}
</body>
</html>